<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>ADD TODOS</h1>

  <div class="inputs">
    <form action="/todos" method="post">
      <label for="userId">userId:</label>
      <input type="text" id="userId" name="userId"><br><br>
      <label for="id">id:</label>
      <input type="text" id="id" name="id"><br><br>
      <label for="title">title:</label>
      <input type="text" id="title" name="title"><br><br>
      <label for="description">description:</label>
      <input type="text" id="description" name="description"><br><br>
      <label for="due_date">due date:</label>
      <input type="text" id="due_date" name="due_date"><br><br>
      <label for="completed">completed:</label>
      <input type="text" id="completed" name="completed"><br><br>
      <button type="submit">ADD</button>
    </form>
  </div>
</body>

</html>