<div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Welcome To TODO App</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas maiores, odio vitae illo sunt nesciunt sed, dolorem ipsam adipisci, voluptates aut omnis architecto voluptatum distinctio temporibus tenetur debitis similique molestiae.</p>
      <a href="/todos" class="btn btn-primary">My TODOs</a>
    </div>
  </div>