<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  table, th, td {
    border: 1px solid black;
  }
  </style>
<body>
  <h1>Students</h1>
  <table>
    <tr>
      <td>ID</td>
      <td>Title</td>
      <td>Description</td>
      <td>Due Date</td>
    </tr>
    <tr>
      <td><%= todos.id%></td>
      <td><%= todos.title%></td>
      <td><%= todos.description%></td>
      <td><%= todos.due_date%></td>
    </tr>
  </table>
  <a href="/todos/ %>">Back</a>
</body>
</html>