<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }

  table {
    width: 100%;
    table-layout: fixed;

  }

  .tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .tbl-content {
    height: 30px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }


  td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }

  button {
    background: rgb(78, 59, 59);
    color: #fff;
  }



  body {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #d0f046, #e6ba2b);
    font-family: 'Roboto', sans-serif;
  }
</style>

<body>
  <h1>TODOS</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <tr style="background-color: rgb(141, 138, 134); ">
        <td>title</td>
        <td>completed</td>
        <td>action</td>
      </tr>
  </div>
  <div class="tbl-content">
    <% for (let i = 0; i < todos.length; i++) { %>
    <tr class="table-row">
      <td><a href="/todos/<%= todos[i].id%>"><%=todos[i].title%></a></td>
      <td><%=todos[i].completed%></td>
      <td>
        <form action="/todos-delete/<%= todos[i].id%>" method="post">
          <button type="submit">delete</button>
        </form>
      </td>
    </tr>
    <% } %>
  </div>
  </table>
  <br>
  <form action="/todos-add " method="get">
    <button type="submit">Add Todos</button>
  </form>
  </div>
</body>

</html>